<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <meta charset="utf-8">
    <title>Bridge</title>
</head>

<body>

<header>
    <div class="">
                Evaluate News
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" >
                    <label for="name">Text or URL</label><input id="name" type="text" name="input" value="" placeholder="Enter a text or an URL here">
                    <input id="submit" type="submit" disabled="disabled" name="" value="Analyze Text">
                    <label id="connection-error" class="error-label">Could not connect to the backend</label>
                </form>
            </section>

            <section>
                <div id="results"></div>
            </section>
        </main>

        <footer>Not connected to the server yet</footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
