<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Bridge</title>
    </head>

    <body>

        <header>
            <div class="">
                Evaluate News
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" >
                    <input id="name" type="text" name="input" value="" placeholder="Give a status message for the Captain!">
                    <label id="warning" class="error-label">URLs are not supported at the moment</label>
                    <input id="submit" type="submit" disabled="disabled" name="" value="Report to Captain">
                    <label id="connection-error" class="error-label">Could not connect to the backend</label>
                </form>
            </section>

            <section>
                <div id="results"></div>
            </section>
        </main>

        <footer>Not connected to the server yet</footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
