<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Bridge</title>
    </head>

    <body>

        <header>
            <div class="">
                Evaluate News
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" >
                    <input id="name" type="text" name="input" value="" placeholder="Give a status message for the Captain!">
                    <label id="warning">URLs are not supported at the moment</label>
                    <input id="submit" type="submit" disabled="disabled" name="" value="Report to Captain">
                </form>
            </section>

            <section>
                <div id="results"></div>
            </section>
        </main>

        <footer>Not connected to the server yet</footer>

    </body>
</html>
